$prefixCls: 'cobalt';

.#{$prefixCls}-page-header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 1;
  box-shadow: inset 0 -1px 0 var(--gray-300);
  &-borderless {
    box-shadow: none;
  }
  &-heading {
    &-extra {
      white-space: nowrap;
    }
    &-back {
      line-height: 1;
    }
    &-left {
      &-title div:last-child {
        width: 1px;
      }
    }
  }
}
